/* Aquí apareceían unos mensajes de "Unknow at rule @tailwind" en cada elemento pero el mensaje que aparece es simplemente una advertencia que se muestra en Visual Studio Code cuando no reconoce la directiva @tailwind en tus archivos CSS. Esto puede ser molesto, pero no afecta la funcionalidad de Tailwind CSS en el proyecto. Para resolver esta advertencia, se puede instalar el plugin Tailwind CSS IntelliSense. Una vez instalado, se necesita asociar el archivo CSS con Tailwind CSS. Hay que abrir el archivo CSS donde se importa Tailwind CSS, presionar Ctrl + Shift + P y busca Change Language Mode. Dentro de la barra de búsqueda, escribir tailwindcss y seleccionarlo. Ahora tu archivo CSS está asociado con Tailwind CSS y las advertencias deberían desaparecer. */
/* ***************************************************************************************************************************** */
/* This injects Tailwind's base styles and any base styles registered by plugins. */
@tailwind base;

/* This injects Tailwind's component classes and any component classes registered by plugins. */
@tailwind components;

/* This injects Tailwind's utility classes and any utility classes registered by plugins. */
@tailwind utilities;

/* añadir importando una fuente usando "@font-face{....}" desde los archivos locales. Faltaría usarlo y eso se haría en el archivo de configuración de tailwind que es el tailwind.config.js */
/* En la regla @font-face de CSS, la función format() se utiliza para especificar el formato de la fuente que se está utilizando. El argumento que se pasa a format() indica el tipo de formato de la fuente. El valor 'truetype' en format('truetype') indica que la fuente está en formato TrueType (.ttf). TrueType es un formato de fuente de contorno que se utiliza comúnmente en la web y es compatible con la mayoría de los navegadores modernos. */
@font-face {
  font-family: "OpenSans";
  src: url(./assets/fonts/OpenSans-VariableFont_wdth.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansItalic";
  src: url(./assets/fonts/OpenSans-Italic-VariableFont_wdth.ttf)
    format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "LatoItalic";
  src: url(./assets/fonts/Lato-Italic.ttf) format("truetype");
}
